.react-calendar {
    background-color: #320D36;
    color: white;
    border-radius: 15px;
    margin-top: 5px;
}

.react-calendar__tile {
    background-color: #320D36;
    color: white;
}

.react-calendar__tile--active {
    background-color: #5A2360;
    color: white;
}